/* form */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container__submit {
  width: 60px;
}

/* message */
.message-entry-container__wrapper {
  display: flex;
}

.message-entry-container__render-content {
  border: none;
  background-color: #ffffff;
  color: #333333;
}
